/******* Change Box Model ***************/

:root{
--primary-color: rgb( 87, 189, 233);
--secondary-color: white;
--text-color-one: black;
--text-color-two: white;
  font-family: "Merriweather Sans", sans-serif;
}
/* ul, li, a{
  list-style-type: none;
  text-decoration: none;
  color: var(--text-color-one);
} */
/* this is for the larger screens */
@media screen and (min-width: 460px) {
nav{
    background-color: var(--secondary-color);
    width: fit-content;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
nav ul{
  display: inline-flex;
  flex-direction: row;
  border: 1px solid var(--text-color-one);
  margin: 0 auto;
  padding: 0;
  background-color: var(--text-color-one);
}
nav li{
  list-style-type: none;
  padding: 1em;
  color: var(--text-color-two);
  margin-left: .5em;
  margin-right: .5em;
  list-style: none;
}
#top-header{
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  padding: 10px;
  border: 2px solid var(--text-color-one);
}
.siteName{
  text-align: left;
  font-size: 30px;
  flex-grow: 1;
  padding: 10px;
  list-style: none;
}
#tools{
  text-align: right;
  padding: 10px;
  list-style: none;
}
#wrapper{
  background-color: var(--primary-color);
}
main{
  margin: 0 auto;
  width: 90%;
  height: auto;
}
h1{
  text-align: center;
}
.copyright{
  text-align: left;
  color: var(--text-color-two);
  padding: 10px;
}

}

/******************************/
/* this is for the smaller screens */
/******************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html{
  background-image: url(../images/site/checkerboard.jpg);
}
body{
  margin: 0 auto;
}

/* css for the header */
#top-header{
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  padding: 10px;
  border: 2px solid var(--text-color-one);
}
.siteName{
  text-align: left;
  font-size: 30px;
  flex-grow: 1;
  padding: 20px 0px;
  list-style: none;
}
.siteName a{
  text-decoration: none;
  color: var(--text-color-one);
}
#tools{
  text-align: right;
  padding: 10px 0px;
  list-style: none;
  font-weight: 200;
}
#tools a{
  text-decoration: none;
  color: var(--text-color-one);
}

/* css for the navigation bar */
nav{
  background-color: var(--secondary-color);
  margin: 0 auto;
}
ul{
  list-style-type: none;

}
nav ul{
display: flex;
flex-direction: row;
border: 1px solid var(--text-color-one);
margin: 0 auto;
padding: 0;
background-color: var(--text-color-one);
width: 100%;
}
nav li{
margin: 0 auto;
justify-content: center;
list-style-type: none;
padding: 1.5em .5em;
color: var(--text-color-two);
list-style: none;
}

/* css for the body of the page */
#special{
  display: block;
  text-align: left;
  padding-right: 2em;
  background-color: rgba(204, 198, 198, 0.8);
  z-index: 1;
}
#main-title-box{
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  padding: 10px;
  border: 2px solid var(--text-color-one);
  width: 100%;
}
#main-title-box picture{
  width: 100px;
  height: 100px;
  padding: 10px;
  z-index: 2;
}
#wrapper{
background-color: var(--secondary-color);
border: 5px solid var(--primary-color);
}
#reviews h2{
  padding: 10px 0px 0px 10px;
}
#reviews li{
  list-style-type: disc;
  font-size: 13px;
  padding: 10px 0px;
}
#reviews ul{
  margin: 0;
  padding:  0px 30px;
}

/* delorean upgrade section */
#upgrade-items{
  background-color: gray;
}
#upgrade-items h2{
  padding: 10px 0px 0px 0px;
}
#cards{
  margin: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.card-items{
  background-color: var(--primary-color);
  border: 1px solid var(--text-color-one);
  padding: 10px;
  margin: 5px;
  border: 1px solid var(--text-color-one);
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.card-items img{
  grid-row: 1;
  padding: 5px;
  background-color: aliceblue;
  display: block;
  margin: 0 auto;
}
.card-items a{
  grid-row: 2;
  text-align: center;
}

