/******* Change Box Model ***************/
/*----------------Root Variables-----------------------*/
:root{
--primary-color: rgb(0,78,97);
--secondary-color: white;
--third-color: black;
--text-color-one: black;
--text-color-two: white;
  font-family: "Merriweather Sans", sans-serif;
}

/* CSS FOR SMALLER SCREENS */


/*-------------------------------------------------*/
/*-------------------------------------------------*/
/******************************/
/* this is for the smaller screens */
/******************************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html{
  background-color: var(--secondary-color);
}
body{
  margin: 0 auto;
}
/*this wrapps the whole document*/
#wrapper{
  background-color: var(--secondary-color);
  }
  #wrapper h1{
    text-align: center;
    margin-left: 0px;
  }
/*-------------------------------------------------*/
/* css for the header */
/*-------------------------------------------------*/
#top-header{
  display: flex;
  flex-direction: row;
  background-color: var(--third-color);
  padding: 10px;
  border: 2px solid var(--text-color-one);
}
.siteName{
  text-align: left;
  font-size: 30px;
  flex-grow: 1;
  padding: 20px 0px;
  list-style: none;
}
.siteName a{
  text-decoration: none;
  color: var(--text-color-two);
}
#tools{
  text-align: right;
  padding: 10px 0px;
  list-style: none;
  font-weight: 200;
}
#tools a{
  text-decoration: none;
  color: var(--text-color-two);
}
/*-------------------------------------------------*/
/* css for the navigation bar */
/*-------------------------------------------------*/
nav{
  background-color: var(--secondary-color);
  margin: 0 auto;
}
ul{
  list-style-type: none;
}
nav ul{
display: flex;
flex-direction: row;
border: 1px solid var(--text-color-one);
margin: 0 auto;
padding: 0;
background-color: var(--primary-color);
width: 100%;
}
nav li{
  margin: 0 auto;
  justify-content: center;
  list-style-type: none;
  padding: 1.5em .5em;
  list-style: none;
}
nav li a{
color: var(--text-color-two);
text-decoration: none;
}
nav li a:hover{
  text-decoration: underline;
}

/*-------------------------------------------------*/
/* css for the body of the page */
/*-------------------------------------------------*/
.special{
  position:absolute;
  top: 270px;
  left: 5%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: .5em;
  background-color: rgba(255, 255, 255, 0.852);
  border: 1px solid var(--text-color-one);
  z-index: 2;
  width: 150px;
  height: auto;
}
.special h4{
  color: var(--primary-color);
  flex-grow: 2;
}
.special p{
  color: var(--primary-color);
  font-size: 15px;
  padding-left: 5px;
  margin: 0;
  flex-grow: 2;
}
.special img{
  width: 70%;
  height: auto;
}
/*-------------------------------------------------*/
/* main title section */
/*-------------------------------------------------*/
#main-title-box{
  background-color: var(--secondary-color);
  padding: 10px;
  width: 100%;
}
#main-title-box picture img{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 1;
}
/*-------------------------------------------------*/
/* reviews section */
/*-------------------------------------------------*/
.reviews h2{
  padding: 10px 0px 0px 5px;
}
.reviews li{
  list-style-type: disc;
  font-size: 13px;
  padding: 10px 0px;
}
.reviews ul{
  margin: 0;
  padding:  0px 30px;
}
/*-------------------------------------------------*/
/* delorean upgrade section */
/*-------------------------------------------------*/
#upgrade-items h2{
  padding: 10px 0px 0px 5px; 
  margin: 0;
}
#cards{
  margin: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.card-items{
  background-color: var(--primary-color);
  border: 1px solid var(--text-color-one);
  padding: 10px;
  margin: 5px;
  border: 1px solid var(--text-color-one);
  width: auto;
  height: 100px;
}
.card-items img{
  grid-row: 1;
  padding: 5px;
  background-color:var(--primary-color);
  display: block;
  margin: 0 auto;
}
.card-items a{
  grid-row: 2;
  text-align: center;
}
.car-tags{
  text-align: center;
  padding: 0px 0px 25px 0px;
}
/*-------------------------------------------------*/
/* Page 2 */
/*-------------------------------------------------*/
/* Styles for grid ul */
#inv-display{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:auto;
  padding: 10px;
}

#inv-display ul{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}


/* Styles for grid li */
#inv-display li {
  /* Add styles for the grid li */
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  border: 10px solid var(--primary-color);
  padding: 10px;
  width: 300px;
  height: max-content;
  margin: 1em auto;
  border-radius: 10%;
  box-shadow: 8px 6px 4px rgba(0,0,0,0.1);
}
#inv-display li img{
  display: block;
  border-radius: 10%;
  margin-top: 30%;
  width: max-content;
}
.namePrice{
  text-align: center;
}

.namePrice hr{
  width: 60%;
  height: 1px;
}

.namePrice a{
text-decoration: none;
color: var(--primary-color);
font-weight: 900;
text-align: center;
}
.error-header{
  text-align: center;
  padding: 20px;
}
.error-header p{
  font-size: 14pt;
}
.error-header p a{
  text-decoration: none;
  color: var(--primary-color);
  padding: 10px;
}
.error-header p a:hover{
  text-decoration: underline;
}

.error-image{
  display: block;
  margin: 0 auto;
  width: 70%;
  height: auto;
  border-radius: 10%;
}

#single-vehicle{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 20px;
}

#single-vehicle img{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border: 5px solid var(--primary-color);
}

#single-vehicle p{
  text-align: left;
  padding-left: 20px;
  font-size: large;
}

#single-vehicle p:nth-child(even){
  background-color: gainsboro;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*-------------------------------------------------*/
/* footer */
/*-------------------------------------------------*/
.copyright{
  text-align: left;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}



/*------------------------------------------------
Week 4 css add ons
- ul class notice for flash messages


--------------------------------------------------*/
.account-form form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.account-form label {
  margin-bottom: 10px;
  text-align: center;
}

.account-form input[type="text"],
.account-form input[type="email"],
.account-form input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 10px;
}
.account-form fieldset{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

.account-form button {
  
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.account-form button:hover {
  background-color: #218838;
}

.account-form p {
  margin-top: 15px;
  text-align: center;
}

.account-form a {
  color: #007bff;
  text-decoration: none;
}

.account-form a:hover {
  text-decoration: underline;
}

input:required:invalid, input:focus:invalid {
  border: 2px solid red;
 }
  input:required:valid {
 border: 2px solid rgb(0, 224, 0);
  }
  ul.notice li{
    list-style: none;
    text-align: center;
  }


/* week 5 css */

  div#add-inventory{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
    border-radius: 10%;
  }
form#classForm{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
form#classForm label{
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}

form#classForm small{
  font-size: 12px;
  padding: 10px;
  text-align: left;
} 

form#classForm button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;  
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;

}
form#classForm textarea{
  height: 10em;
}

form#classForm input[type="text"],
form#classForm input[type="number"],
form#classForm select,
form#classForm textarea
{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
}
.inv-management{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.inv-management ul{
  margin : 0;
  padding: 0;
  list-style: none;
}
.inv-management ul li{
  text-decoration: none;
  text-align: center;
  color: var(--secondary-color);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-color: var(--primary-color);
}

.inv-management ul li a{
  text-decoration: none;
  color: var(--secondary-color);
}
select#classificationList{
  height: 50px;
}
#inventoryDisplay{
  display: grid;
}
#inventoryDisplay a{
  background-color: var(--secondary-color);
}
#inventoryDisplay tbody{
  border: 1px solid var(--primary-color);
}
#inventoryDisplay thead{
  grid-column: 1;
  grid-row: 1/3;
  background-color: var(--primary-color);
  padding-top: 10px;
  padding-bottom: 10px;
}
#inventoryDisplay td{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 25%;
  text-align: center;
  font-size: 10pt;
}
#inventoryDisplay td:nth-child(2){
  border: solid 5px var(--primary-color);
}
#inventoryDisplay td:nth-child(3){
  border: solid 5px var(--primary-color);
}

#inventoryDisplay th {
  padding-left: 15px;
  text-align: left;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
#inventoryDisplay td:nth-child(2) a {
  color: green;
  text-decoration: none;
}
#inventoryDisplay td:nth-child(3) a{
  color: red;
  text-decoration: none;
}
#inventoryDisplay td:nth-child(2):hover {
  cursor: pointer;
}
#inventoryDisplay td:nth-child(3):hover{
  cursor: pointer;
}


/*-------------------------------------------------*/
/*this is css styles for the larger screens*/
/*-------------------------------------------------*/
@media screen and (min-width: 650px) {

  html{
    background-image: url(../images/site/checkerboard.jpg);
  }
  body{
    margin: 0 auto;
  }
  /*this wrapps the whole document*/
  #wrapper{
    background-color: var(--secondary-color);
    width: 75%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 5px solid var(--primary-color);
    }

  /*-------------------------------------------------*/
  /* css for the header */
  /*-------------------------------------------------*/
  #top-header{
    display: flex;
    flex-direction: row;
    background-color: var(--third-color);
    padding: 10px;
    border: 2px solid var(--text-color-one);
  }
  .siteName{
    text-align: left;
    font-size: 30px;
    flex-grow: 1;
    padding: 20px 0px;
    list-style: none;
  }
  .siteName a{
    text-decoration: none;
    font-size: 56px;
    color: var(--text-color-two);
  }
  #tools{
    text-align: right;
    padding: 10px 0px;
    list-style: none;
    font-weight: 200;
  }
  #tools a{
    text-decoration: none;
    color: var(--text-color-two);
    font-size: 26px;
  }
  /*-------------------------------------------------*/
  /* css for the navigation bar */
  /*-------------------------------------------------*/
  nav{
    background-color: var(--secondary-color);
    margin: 0 auto;
  }
  ul{
    list-style-type: none;
  }
  nav ul a{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  background-color: var(--primary-color);
  width: 100%;
  text-decoration: none;
  }
  nav li{
  margin: 0 auto;
  justify-content: center;
  list-style-type: none;
  padding: 1.5em .5em;
  color: var(--text-color-two);
  list-style: none;
  }
  /*-------------------------------------------------*/
  /* css for the body of the page */
  /*-------------------------------------------------*/
  .special{
    top: 60px;
    left: 8%;
    width: 33%;
    }

  .special h4{
    color: var(--primary-color);
    margin: 0;
    font-size: 32px;
    margin-left: 35px;
    margin-top: 5px;
    font-weight: bolder;
  }
  .special p{
    color: var(--primary-color);
    font-size: 28px;
    padding-left: 35px;
    padding-bottom: 5px;
    font-weight: 300;
  }
  .special img{
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  /*-------------------------------------------------*/
  /* main title section */
  /*-------------------------------------------------*/
  #main-title-box{
    position: relative;
    background-color: var(--secondary-color);
    padding: 10px;
    width: 100%;
  }
  #main-title-box picture img{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    z-index: 1;
  }
  /*-------------------------------------------------*/
  /* reviews section */
  /*-------------------------------------------------*/
  .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    padding: 10px;
  }
  .info .reviews{
    grid-column: 2;
    grid-row: 1;
  }
  #upgrade-items{
    grid-column: 1;
    grid-row: 1;
  }

  .reviews h2{
    padding: 10px 0px 0px 5px;
  }
  .reviews li{
    list-style-type: disc;
    font-size: 13px;
    padding: 10px 0px;
  }
  .reviews ul{
    margin: 0;
    padding:  0px 30px;
  }
  /*-------------------------------------------------*/
  /* delorean upgrade section */
  /*-------------------------------------------------*/
  #upgrade-items h2{
    padding: 30px 0px 0px 5px; 
    margin: 0;
  }
  #cards{
    margin: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card-items{
    background-color: var(--primary-color);
    border: 1px solid var(--text-color-one);
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--text-color-one);
    width: auto;
    height: 100px;
  }
  .card-items img{
    grid-row: 1;
    padding: 5px;
    background-color:var(--primary-color);
    display: block;
    margin: 0 auto;
  }
  .card-items a{
    grid-row: 2;
    text-align: center;
  }
  .car-tags{
    text-align: center;
    padding: 0px 0px 25px 0px;
  }
  /*-------------------------------------------------*/
  /* footer */
  /*-------------------------------------------------*/
  .copyright{
    text-align: left;
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }

  #inv-display {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
  }
   #inv-display li {
    padding: 10px;
    height: 90%;
    box-shadow: 8px 6px 0px rgba(0, 0, 0, 0.1);
}

  #inv-display li {
    width: 225px; /* Width set to auto to allow flexibility in the grid layout */
  }

  #inv-display li img {
    margin-top: 10%; /* Reduced top margin for better alignment */
    width: 100%; /* Full width within the container */
  }

  .error-image {
    width: 50%; /* Reduced width for large screens to avoid overly large images */
  }


  #single-vehicle{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    background-color: var(--primary-color);
    list-style: none;
    padding: 20px;
  }
  
  #single-vehicle img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
    width: 75%;
    height: min-content;
    border: 5px solid var(--primary-color);
    border: 3px solid black;
  }
  
  #single-vehicle p{
    text-align: left;
    padding-left: 20px;
    font-size: large;
  }
  
  #single-vehicle p:nth-child(even){
    background-color: gainsboro;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #details{
    background-color: white;
    padding: 10px;
    border: 3px solid black;
  }
  

/*------------------------------------------------
Week 4 css add ons
- ul class notice for flash messages


--------------------------------------------------*/
.account-form form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  margin-bottom: 20px;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

.account-form label {
  margin-bottom: 10px;
  text-align: center;
}

.account-form input[type="text"],
.account-form input[type="email"],
.account-form input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 70%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 10px;
}

.account-form button {
  
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

.account-form button:hover {
  background-color: #218838;
}

.account-form p {
  margin-top: 15px;
  text-align: center;
}

.account-form a {
  color: #007bff;
  text-decoration: none;
}

.account-form a:hover {
  text-decoration: underline;
}

/* week 5 css */

div#add-inventory{
  width: 50%;
}
form#classForm{
width: 100%;
}

form#classForm small{
font-size: 12px;
padding: 10px;
margin-bottom: 10px;
text-align: left;
} 

form#classForm button {
padding: 10px;
background-color: #28a745;
color: black;
font-weight: 900;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s;  
width: 80%;
margin: 0 auto;
margin-top: 30px;
}
form#classForm textarea{
height: 10em;
}
#add-classification{
  width: 60%;
  margin: 0 auto;
}

form#classForm input#classificationName{
  margin : 0 auto;
}
.inv-management{
display: flex;
flex-direction: column;
align-items: stretch;
padding: 20px;
margin-bottom: 20px;
width: 60%;
margin: 0 auto;
margin-top: 20px;
}
}

/*-------------------------------------------------*/
/*-------------------------------------------------*/