<% if (title) { %>
        <h1><%= title %></h1>
    <% } else { %>
        <script>
            res.redirect('/');
        </script>
    <% } %>
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
    </ul>
    <% } %>
<div class="inv-management">
    <p>Manage all aspects of your inventory here.</p>
    <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
    </ul>
</div>

